$sd-limon: #ffff00
$sd-limon-oscuro: #cccc00
$m-azul: #293449
$m-amarillo: #f7b32b
$m-hueso: #fcf7bf
$verde: #4bae4f
$m-verde: #46b271
$celeste: #03a9f4
$grisoscuro: #333333
$grisclaro: #bdbdbd
$grismclaro: #757575
$sd-gris: #333333
$sd-blanco: #ffffff
$grisnegro: #212121
$blanco: #ffffff
$naranja: #fe5621
$sd-menu: #414141

$font-family: 'Open Sans', sans-serif
$font-family2: 'Oswald', sans-serif
$font-size: 16px
$fjalla: 'Fjalla One', sans-serif
$froboto: 'Roboto', sans-serif


\:root
	--sizem: 100%
.gridx
	padding: 20px
